html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button
{
  position: relative;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.start
{
  position: absolute;
    top: 650px;
    left: 60px;
}
.up
{
position: absolute;
    top: 600px;
    left: 200px;
}
.down
{
  position: absolute;
  top: 700px;
  left: 200px;
}
.left
{
  position: absolute;
  top: 650px;
  left: 150px;
}
.right
{
  position: absolute;
  top: 650px;
  left: 250px;
}
.Restart
{
  position: absolute;
  top: 650px;
  left: 280px;
}